# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Debug folder
Debug

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiler files and directories
*.suo
*.u2d
Debug/
Release/

# Executables
*.exe

# MODFLOW type files
*.user
*.cbc
*.cbb
*.hds
*.ddn
*.zta
*.zobs
*.out
*.lst
*.list


# Detritus
.DS_Store
